.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button name */
.card .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 40%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.card .name:hover {
  background: #f8f8ff;
}

/* button delete */
.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}

.card button span {
  margin-left: 10px;
  border-radius: 50%;
  font-size: 25px;
  padding: 5px;
}

.card button span:hover {
  background: #63d596;
  font-size: 28px;
  cursor: pointer;
}
